:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --logo-black-color: #000000;
    --additional-contact-color: rgba(255, 255, 255, 0.6);
    --bcg-footer-color: #2F303A;
    --bcg-secondary-color: #F5F4FA;
    --bcg-hero-color: #C4C4C4;
    --border-color: #EEEEEE;
    --border-header-color: #ECECEC;
    --social-links-color: #AFB1B8;
    --bcg-social-links-color: rgba(255, 255, 255, 0.1);
    --bcg-work-style-color: rgba(47, 48, 58, 0.8);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --button-border-modal-color: rgba(0, 0, 0, 0.1);
    --accent-works-color: rgba(33, 150, 243, 0.9);
    --border-input-footer-color: rgba(255, 255, 255, 0.3);
    --border-modal-color: rgba(33, 33, 33, 0.2);
    --transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--white-color);
}

/* Утилиты */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Header */

.page-header {
    border-bottom: 1px solid var(--border-header-color);
}

.page-header__container {
    display: flex;
    align-items: center;
}

/* Лого */

.header-logo {
    display: inline-block;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
}

.header-logo--black {
    margin: 0;
    padding: 0;
    color: var(--logo-black-color);
}

.footer-logo {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
}

.footer-logo--white {
    color: var(--white-color);
}

/* Header nav */

.header-nav {
    display: flex;
}

.header-nav__list {
    display: flex;
    padding: 0;
    margin: 0 0 0 93px;
    list-style: none; 
}

.header-nav__item:not(:last-child) {
    margin-right: 50px;
}

.header-nav__link {
    display: block;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color var(--transition-function);
}

.header-nav__link:hover,
.header-nav__link:focus {
    color: var(--accent-color);
}

.header-nav__link--current {
    color: var(--accent-color);
    position: relative;
}

.header-nav__link--current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

/* Heder contacts */

.header-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    list-style: none;
}

.header-contacts__item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: color var(--transition-function);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
    color: var(--accent-color);
}

.header-contacts__icon {
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition: fill var(--transition-function);
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
    fill: var(--accent-color);
}

/* Hero */

.hero { 
    background-color: var(--bcg-hero-color);
    text-align: center;
}

.hero__overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color); 
}

/* Button */

.button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    cursor: pointer;
    color: var(--title-text-color);
    background-color: var(--bcg-secondary-color);
    text-align: center;
}

.button--primary {
    padding: 10px 32px;
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
}

.button--secondary {
    padding: 6px 22px;
    min-width: 73px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    transition: background-color var(--transition-function), color var(--transition-function);
}

.button--secondary:hover,
.button--secondary:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}

/* Section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__no-padding-top {
    padding-top: 0;
}

.section__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

.section__title--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Features */

.features {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.features__item {
    min-width: 270px;
}

.features__item:not(:last-child) {
    margin-right: 30px;
}

.features__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--bcg-secondary-color);
}

.features__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color); 
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
}

/* Work-style */

.work-style {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.work-style__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.work-style__thumb {
    position: relative;
}

.work-style__dscr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: var(--bcg-work-style-color);
}

.work-style__text {  
    margin: 0;
    padding: 27px 0; 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}

/* Team */

.section__team {
    background-color: var(--bcg-secondary-color);
}

.team-members {
    display: flex;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -30px;
    margin-top: -30px;
    text-align: center;
    padding: 0;
    list-style: none;
}

.team-members__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
}

.team-members__cards {
    padding: 30px 0;
}

.team-members__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
}

.team-members__text {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.19;
}

.team-members__social {
    display: flex;
    margin: 16px 0 0 0;
    padding: 0 32px;
    justify-content: space-around;
    list-style: none;
}

.team-members__social-item {
    border-radius: 50%;
}

.team-members__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition-function), fill var(--transition-function);
}

.team-members__social-link:hover,
.team-members__social-link:focus {
    background-color: var(--accent-color);
    fill: var(--white-color); 
}

.team-members__social-icon {
    fill: var(--social-links-color);
    transition: fill var(--transition-function);
}

.team-members__social-link:hover .team-members__social-icon,
.team-members__social-link:focus .team-members__social-icon {
    fill: var(--white-color);
}

/* Clients */

.clients {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--social-links-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: border var(--transition-function);
}

.clients__icon {
    fill: var(--social-links-color);
    transition: fill var(--transition-function);
}

.clients__link:hover,
.clients__link:focus {
    border: 1px solid var(--accent-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
    fill: var(--accent-color);
}

/* Works */

.filter {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter__item {
    transition: box-shadow var(--transition-function), border-radius var(--transition-function);
    margin-bottom: 50px;
}

.filter__item:hover,
.filter__item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.works {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    list-style: none;
}

.works__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid var(--border-color);
}

.works__link {
    text-decoration: none;
}

.works__thumb {
    position: relative;
    overflow: hidden;
}

.works__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: transform var(--transition-function);
    background-color: var(--accent-works-color);
}

.works__link:hover .works__overlay,
.works__link:focus .works__overlay {
    transform: translateY(0);
}

.works__dscr {
    margin: 0;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    opacity: 0;
    color: var(--white-color);
    transition: opacity var(--transition-function);
}

.works__link:hover .works__dscr,
.works__link:focus .works__dscr {
    opacity: 1;
}

.works__cards {
    padding: 20px 24px;   
}

.works__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.works__text {
    margin-top: 4px; 
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}

.works__item {
    transition: box-shadow var(--transition-function);
}

.works__item:hover,
.works__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Footer */

.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bcg-footer-color);
}

.page-footer__container {
    display: flex;
}

.address__contacts {
    margin-top: 20px;
    margin-right: 70px;
}

.address__contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;  
}

.address__contacts-item:not(:last-child) {
    margin-bottom: 9px;
}

.address__contacts-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--additional-contact-color);
    transition: color var(--transition-function);
}

.address__contacts-link--white {
    color: var(--white-color);
}

.address__contacts-link:hover,
.address__contacts-link:focus {
    color: var(--accent-color);
}

.cta-text {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}

.cta__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.cta__item {
    border-radius: 50%;
    background-color: var(--bcg-social-links-color);
}

.cta__item:not(:last-child) {
    margin-right: 10px;
}

.cta__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition-function), fill var(--transition-function);
}

.cta__icon {
    fill: var(--white-color);
}

.cta__link:hover,
.cta__link:focus {
    background-color: var(--accent-color);
}

.container__footer-form-wrapper {
    margin-left: auto;
}

.footer-form {
    display: flex;
}

.footer-form__label--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.footer-form__input {
    outline: none;
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    border: 1px solid var(--border-input-footer-color);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    background-color: var(--bcg-footer-color);
    color: var(--border-input-footer-color);
}

.footer-form__button-wrapper {
    position: relative;
}

.footer-form__button {
    padding: 10px 62px 10px 29px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__icon {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
    opacity: 1;
    transition: opacity var(--transition-function);
}

.backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop--is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.button__modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--button-border-modal-color);
    border-radius: 50%;
    background-color: var(--white-color);
    fill: var(--logo-black-color);
    transition: fill var(--transition-function);
}

.button__modal-close:focus,
.button__modal-close:hover {
    fill: var(--accent-color);
}

.modal__cta {
    margin-top: 0;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--title-text-color);
}

.modal-form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-form__field:nth-child(4) {
    margin-bottom: 20px;
}

.modal-form__label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    transition: color var(--transition-function);
}

.modal-form__field-input {
    position: relative;
    transition: border var(--transition-function);
}

.modal-form__input {
    outline: none;
    padding: 12px 42px;
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-modal-color);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.modal-form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transition-function);
}

.modal-form__textarea {
    outline: none;
    resize: none;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid var(--border-modal-color);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    transition: border var(--transition-function);
}

.modal-form__field:focus-within .modal-form__icon,
.modal-form__field:focus-within .modal-form__label {
    fill: var(--accent-color);
    color: var(--accent-color); 
}

.modal-form__field:focus-within .modal-form__input {
    border: 1px solid var(--accent-color);
}

.modal-form__field:focus-within .modal-form__textarea {
    border: 1px solid var(--accent-color);
}

.modal-form__checkbox-field {
    margin-bottom: 30px;
}

.modal-form__checkbox-label {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
}

.modal-form__checkbox--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-form__checkbox-icon {
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
}

.modal-form__checkbox:focus-visible + .modal-form__checkbox-icon {
    outline-offset: 2px;
    outline: 2px solid var(--accent-color);
}

.modal-form__checkbox:checked + .modal-form__checkbox-icon {
    background-color: var(--accent-color);
    border: var(--accent-color);
    outline: none;
}

.modal-form__checkbox-policy {
    color: var(--accent-color);
}

.modal-form__button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
