.container-tablet-wrapper {
    @media screen and(min-width: 768px) {
        display: flex;
        justify-content: space-around;
    }
}

.address {
    text-align: center;

    @media screen and(min-width: 1200px) {
        text-align: start;
    }
}

.address__contacts {
    margin-top: 20px;
    margin-bottom: 60px;

    @media screen and(min-width: 1200px) {
        margin-right: 70px;
        margin-bottom: 0;
    }
}

.address__contacts-list {
    @extend %list;
}

.address__contacts-item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and(min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.address__contacts-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--additional-contact-color);
    transition: color var(--transition-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address__contacts-link--white {
    color: var(--white-color);
}