.button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    cursor: pointer;
    color: var(--title-text-color);
    background-color: var(--bcg-secondary-color);
    text-align: center;
}

.button--primary {
    padding: 10px 32px;
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
}

.button--secondary {
    padding: 6px 22px;
    min-width: 73px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    transition: background-color var(--transition-function), color var(--transition-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--white-color);
    }
}