.header-nav {
    display: flex;
}

.header-nav__list {
    @extend %list;
    display: flex;
    margin-left: 88px;
    
    @media screen and (max-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}

.header-nav__item:not(:last-child) {
    margin-right: 50px;
}

.header-nav__link {
    display: block;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color var(--transition-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.header-nav__link--current {
    color: var(--accent-color);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
    }
}