.header-contacts {
    @extend %list;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        align-items: center;
        flex-direction: row;
    }
}

.header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
    padding-top: 21px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        margin-right: 50px;
        padding-top: 0;
    }
}

.header-contacts__item:last-child {
    padding-bottom: 21px;

    @media screen and (min-width: 1200px) {
        padding: 0;
    }
}

.header-contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: color var(--transition-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.header-contacts__icon {
    margin-right: 8px;
    fill: var(--primary-text-color);
    transition: fill var(--transition-function);

    .header-contacts__link:hover &,
    .header-contacts__link:focus & {
            fill: var(--accent-color);
    }

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
    }
}
