:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --logo-black-color: #000000;
    --additional-contact-color: rgba(255, 255, 255, 0.6);
    --bcg-footer-color: #2F303A;
    --bcg-secondary-color: #F5F4FA;
    --bcg-hero-color: #C4C4C4;
    --border-color: #EEEEEE;
    --border-header-color: #ECECEC;
    --social-links-color: #AFB1B8;
    --bcg-social-links-color: rgba(255, 255, 255, 0.1);
    --bcg-work-style-color: rgba(47, 48, 58, 0.8);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --button-border-modal-color: rgba(0, 0, 0, 0.1);
    --accent-works-color: rgba(33, 150, 243, 0.9);
    --border-input-footer-color: rgba(255, 255, 255, 0.3);
    --border-modal-color: rgba(33, 33, 33, 0.2);
    --transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}